---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Fotoabout from '../assets/fotoabout.jpg';
import logoreta4 from '../assets/logoreta4.png';

---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href={logoreta4.src} />
</head>
<body>
    <Layout title="About">
        <main>
            <div class="container">
                <div class="image">
                    <Image src={Fotoabout} alt="AnaConda.dev">
                </div>
                <div><h2>PeyDev</h2></div>
                <div><p>Diseño y desarrollo</p></div>
                <div>email: mapp81dev@gmail.com</div>

            </div>    
        </main>    
    
    </Layout>    
</body>
</html>

<style>

*{
    font-family: "roboto", sans-serif;
    font-weight: 300;
    color: var(--primario);

}

main{
    width: 100vw; /* 100% del ancho de la ventana */
    height: 100%; /* 100% de la altura de la ventana */

}

.container img{
    width: 8vw;
    height: auto;
    border-radius: 100%;
    box-shadow: 0 4px 8px var(--gris); /* Sombra suave */
    
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 24px;
}

.container div{
    font-size: 24px;

}

.container h3, h2, ul{
    padding: 0;
    margin-bottom: 8px;
}

ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    
}

ul li{
    padding-right: 32px;
}


</style>