---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Hero from '../components/Hero.astro';
import Footer2 from '../components/Footer2.astro';
import Lugar from '../components/lugar.astro';
import Tiempo from '../components/Tiempo.astro';
import logoreta3 from '../assets/logoreta3.png';
import Galeria from '../components/Galeria.astro';
import Banner1 from '../components/Banner1.astro';
import Banner2 from '../components/Banner2.astro';
---

<Layout title="Reta, balneario argentino">
	<main>
		<Hero/>
		<Lugar/>
		<Galeria/>
		<Tiempo/>
		<Card title="Título de la tarjeta" body="Este es el contenido de la tarjeta." href="/Card" />
		
		<Banner1/>
		<Banner2/>
	</main>
</Layout>

<style>
	
</style>
